.intro {
    width: 100%;
    .intro__inner {
        text-align: center;
        margin: 22% 0;
        #h1 {
            display: flex;
            justify-content: center;
            h1 {
                font-size: 40px;
                margin-left: 10px;
            }
        }
        p {
            margin-top: 10px;
            opacity: .5;
        }
    }
}